:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}
i {
  font-size: 2rem;
}
ul {
  list-style-type: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.btn-primary {
  background-color: black;
  font-size: 1rem;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 8px;
}

p[role="alert"] {
  color: red;
}
